{% extends 'base.html' %}

{% block title %}Book List{% endblock %}

{% block content %}
    <h2>Available Books</h2>
    <ul>
        {% for book in books %}
            <li>
                {{ book.id }} - {{ book.title }} by {{ book.author }} 
                {% if book.available %}
                    <span style="color: green;">(Available)</span>
                {% else %}
                    <span style="color: red;">(Borrowed)</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
